<html>
    <head>
    <title>Content</title>
</head>
<body>
  <h1><%=name%></h1>
  <table width="500" border="1">
      <tr><td><h2>Type</h2></td> <td><h2>Vehicle Type</h2></td> <td><h2>Seats</h2></td><td><h2>Source Address</h2></td><td><h2>Destination Address</h2></td>
  <% data.forEach(function(p){ %>
    <tr><td><%=p.type%></td><td><%=p.vehicle_type%></td> <td><%=p.Seat%></td> <td><%=p.sor_address%></td> <td><%=p.des_address%></td>
</tr>
    <% }) %>
</table>
</body>
</html>